canvas { 
    display: flex;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsl(0, 0%, 0%);
    flex: auto;
}


div {
    font-size: 50px;
    color: rgb(255, 0, 0);
}